/* Tema Claro */
body {
  background: rgb(191,255,254);
  background: linear-gradient(90deg,  rgba(255,255,255,1) 10%, rgba(0,239,255,1) 35%, rgba(255,255,255,1) 100%);
  color: #000000;
}

/* Tema Escuro */
body.dark-theme {
  background: rgb(26,130,179);
  background: linear-gradient(90deg, rgb(0, 0, 0) 10%, rgb(2, 31, 126) 55%, rgb(0, 0, 0) 100%);
  color: #ffffff;
}
#navb.dark-mode  {
  background-color: #052b52;
  color: #fff;
}
