/* Tema Claro */
body {
  background-image: linear-gradient(45deg, #a6d8ff, #043c74);
  color: #000000;
}

/* Tema Escuro */
body.dark-theme {
  background-image: linear-gradient(45deg, #052b52, #3694ec);
  color: #ffffff;
}
#navb.dark-mode  {
  background-color: #052b52;
  color: #fff;
}

#sidebar.dark-theme{
  background-color: #052b52;
}

/* Botão de alternar tema */
#theme-toggle {
  background-color: #007bff;
  color: #ffffff;
}

#theme-toggle.dark-theme {
  background-color: #ffffff;
  color: #000000;
}
