@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
html,
body {
  font-family: Nunito, sans-serif;
  scroll-behavior: smooth;
}

#page {
  overflow-x: hidden;
}

#page.toggled #sidebar {
  margin-left: -15rem;
}

.img-size {
  width: 90px;
  height: 90px;
}
.column-spacing {
  margin-right: 1px;
}
#sidebar {
  min-height: 100vh;
  margin-left: 0;
  width: 15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar header {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#navbar {
  position: fixed;
  width: 100%;
  transition: top 0.3s;
}
#page-content {
  min-width: 0;
  width: 100%;
}

#loginLogo img {
  width: 70%;
}

section{
  text-align: center;
}
section ul{
  list-style: none;
}
section .card{
  border: none;
}
.form-group .error-message {
  color: red;
  margin-top: 5px;
}
#scrollToTopArrow {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #333;
  background-image: url("https://static.thenounproject.com/png/12937-200.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  
}
#section1link1:target,
#section1link2:target,
#section1link3:target,
#section1link4:target,
#section1link5:target {
  margin-top: 10%;
  padding-top: 1px;

}
.font-control-icons {
  display: flex;
}

.font-control-icons button {
  margin-right: 5px;
}
.font-size-small {
  font-size: 90%;
}

.font-size-normal {
  font-size: 100%;
}

.font-size-large {
  font-size: 115%;
}

.font-size-xlarge {
  font-size: 125%;
}

.font-size-xxlarge {
  font-size: 130%;
}